.form-container {
    width: 400px;
    margin: 80px auto;
}

input.ng-invalid.ng-touched.ng-dirty {
    border: 1px solid red
}

input {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
}

.dropdown {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
}

.center {
    text-align: center;
}

.loginBtn {
    background-color: black;
    color: white;
    border: none;
    padding: 14px 32px;
    font-size: 16px;
    border-radius: 16px;
    width: 75%;
    margin: 20px 60px;
}